<div class="banner">
  <div class="container">
    <div class="banner-text">
      <span>Qlik works with the leading technology vendors to deliver better,</span>
      <br>
      <span>faster decisions with the Qlik Platform</span>
      <a class="button" href="http://www.qlik.com/us/partners/technology-partners" target="_blank">OUR PARTNERS</a>
    </div>
  </div>
</div>
<div class="overview">
  <div class="overview-content">
    <h1>OVERVIEW</h1>
    <h2>Learn more about Qlik Technology Partners and see which ones have achieved Qlik Validated Technology Partner status.</h2>
    <p>Qlik teams with leading technology vendors who share our commitment and passion for transforming businesses and industries through better, faster decisions with the Qlik platform.</p>
    <p>Qlik invests both development and business resources to ensure Qlik products are optimized and certified for common technology platforms. Our Technology Partners include industry-standard and innovative providers of data management and analytics engines, visualization extensions, business applications, operating systems, integration and development tools, as well as hardware platforms.</p>
  </div>
</div>
<div class="features">
  <div class="container">
    <div class="feature-content">
      <h1>FEATURES</h1>
      <ul>
        <li class="feature-two">
          <div>
            <span>Qlik Validated Technology Partners</span>
            <p>Qlik Technology Partners who have demonstrated deep integration with Qlik</p>
          </div>
        </li>
        <li class="feature-three">
          <div>
            <span>Qlik Technology Partner Overview</span>
            <p>View of current Qlik Technology Partners</p>
          </div>
        </li>
        <li class="feature-four">
          <a href="/partners">
            <div>
              <span>Search and explore Qlik Technology Partners</span>
              <p>Leverage the Qlik platform to explore our technology partners</p>
            </div>
          </a>
        </li>
    </div>
  </div>
</div>
