<div class="loginsignup">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h2>Signup</h2>
      <div class="smokescreen" ng-if="showSuggestions">
        <div class="partner-suggestions">
          <h2>Join Partner</h2>
          <span>Do you belong to one of these partners?</span>
          <ul>
            <li ng-repeat="partner in partners" data-id="partner._id">
              <a ng-click="selectPartner(partner)">{{partner.name}}</a>
            </li>
          </ul>
          <button class="btn btn-default" ng-click="hideSuggestions()">No</button>
        </div>
      </div>
      <div>
        <input class="form-control" name="partnername" placeholder="Partner" ng-model="partnername" ng-blur="checkPartner()">
        <input class="form-control" ng-hide="true" name="partner" ng-model="partner">
        <input class="form-control" name="name" placeholder="Fullname" ng-model="name">
        <input class="form-control" name="email" placeholder="Email" ng-model="email">
        <input class="form-control" name="password" placeholder="Password" type="password" ng-model="password">
        <input class="form-control" placeholder="Confirm Password" type="password">
        <button class="btn btn-submit btn-register" ng-click="signup()">Signup</button>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <h2>Login</h2>
      <form ng-submit="login()">
        <input class="form-control" ng-model="loginemail" placeholder="Email">
        <input class="form-control" ng-model="loginpassword" placeholder="Password" type="password">
        <button class="btn btn-submit btn-login" type="submit">Login</button>
      </form>
      <a href="#forgot" class="forgotpassword">Forgot Password?</a>
    </div>
  </div>
</div>
