<h1>{{title}}</h1>
<ul>
  <li class="table-header">
    {{#each labels}}
      <div>{{qFallbackTitle}}</div>
    {{/each}}
  </li>
  {{#each rows}}
    <li>
      {{#each this}}
        {{#compareLabel @index @root.hyperlink}}
          <div><a href='/certifications/detail?{{@root.hyperlink}}={{qElemNumber}}'>{{qText}}</a></div>
        {{else}}
          <div>
            {{#if qText}}
              {{qText}}
            {{else}}
              No Data
            {{/if}}
          </div>
        {{/compareLabel}}
      {{/each}}
    </li>
  {{/each}}
</ul>
