.qrest-connect-dialog-container {
	
}

.qrest-connect-dialog {
	width: 70%;
    height: 60%;
    top: 20%;
    margin: auto;
    background-color: white;
}

.select-config-source li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px 3px 10px;
    border: 1px solid #CCC;
    margin-top: 10px;
    border-bottom: none;
}

.select-config-source li.active {
    font-weight: bold;
}

.select-config li [data-icon]{
    background: url(attr(data-icon)) center center no-repeat;
}
