div.footer
  div.container
    div.footblock
      ul
        li
          a Articles
        li
          a View Articles
        li
          a Post Article
    div.footblock
      ul
        li
          a Certifications
        li
          a View Certifications
        li
          a Post Certification
    div.footblock
      ul
        li
          a Issues
        li
          a View Issues
        li
          a Post Issue
    div.footblock
      ul
        li
          a Partners 
        li
          a View Partners
        li
          a Become a Partner
    div.social
      ul
        li.icon(data-icon="twitter")
        li.icon(data-icon="linkedin")
        li.icon(data-icon="facebook")
        li.icon(data-icon="google")
        li.icon(data-icon="more")
      div.foot-title
        span Qlik Partner Engineering Portal
script(src='/js/main.js')
script(src='/qsocks/qsocks.bundle.js')
