doctype html
head
  link(rel='stylesheet', href='/css/main.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
html
  div.header
    div.container    
      div.logo
        a(href='/') Home
      ul.nav
        li
          a(href="/articles") Articles
        li
          a(href="/certifications") Certifications
        li
          a(href="/partners") Partners
