include ./header.jade
div.banner
  div.container
    div.banner-text
      span Lorem ipsum dolor sit amet nunc id,
      br
      span consectetur adipiscing nullam      
      a.button(href="/partners") OUR PARTNERS
div.overview
  div.container
    div.overview-content
      h1 OVERVIEW
      h2 Lorem iaculis est id lectus dolor site a, venenatis este a turpis sodales.
      p Lorem ipsum dolor sit amet, saepe vituperata an eum, usu id suas adipisci, et essent vocibus sed. Te electram hendrerit theophrastus ius, ne pro regione laboramus conceptam, mundi choro id est. An tritani voluptua duo, eu nam dicam insolens argumentum, id vis quod qualisque conceptam. Fierent erroribus cu nec, an meis congue constituto pro. Partiendo suavitate ius ea, nec veritus oportere efficiantur ad, quo interesset disputando no.
      p Fabulas vocibus persequeris te pri. Ea nam elitr accusata, sed malis sensibus in. Vocibus maiorum tibique ut usu. Eum an enim vocent qualisque.
div.features
  div.container
    div.feature-content
      h1 FEATURES
      h2 Lorem iaculis est id lectus dolor site amet a, venenatis este a turpis sodales.
      ul
        li.feature-one
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
        li.feature-two
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
        li.feature-three
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
        li.feature-four
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
        li.feature-five
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
        li.feature-six
          div
            span Lorem Ipsum Dolor Este
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc vitae ligula.
include ./footer.jade
