doctype html
html(ng-app="peportal")
  head
    title Qlik Partner Portal
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css")
    link(rel="stylesheet", href="/css/main.css")    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js")
    script(src="/bower_components/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js")    
    script(src="/qsocks/qsocks.bundle.js")
    script(src="/js/app.js")
  body    
    notifications-bar.notifications.container
    report
    header
    breadcrumbs
    div.container    
      div(ui-view)        
    div.footer
      div.container        
        div.foot-title
          span Qlik Partner Validation Portal
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")      
