<div class="steps col-md-12" ng-controller="stepController">
  <ul class="validation-step-list">
    <li class="table-header">
      <label>Name</label>
      <label class="description">Description</label>
      <label>Type</label>
      <label>Status</label>
      <label>Issues</label>
    </li>
    <li ng-hide="steps.length==0" ng-repeat="step in steps">
      <a class="link" ui-sref="step({stepId:'{{step._id}}'})">{{step.name}}</a>
      <input class="form-control description"  ng-blur="save(step._id)" ng-model="step.content"/>
      <select class="form-control" ng-change="save(step._id)" ng-model="step.type" ng-options="item.name for item in stepTypes track by item._id">
      <select>
      <select class="form-control" ng-change="save(step._id)" ng-model="step.status" ng-options="item.name for item in stepStatus track by item._id">
      <select>
      <a class="issue-count" ui-sref="step.issues({stepId:'{{step._id}}'})">{{step.issues.length}}</a>
      <div class="delete" ng-click="delete('{{step._id}}')">Delete</div>
    </li>
    <li>
      <input class="form-control" ng-model="newStepName" />
      <input class="form-control description" ng-model="newStepContent"/>
      <select class="form-control" ng-model="newStepType" ng-options="item.name for item in stepTypes track by item._id">
      <select>
      <select class="form-control" ng-model="newStepStatus" ng-options="item.name for item in stepStatus track by item._id">
      <select>
      <div class="new" ng-click="new()">Add</div>
    </li>
  </ul>
</div>
