<div class="content">
  <h2>Validations</h2>
  <a ui-sref="validations.new" class="btn btn-default btn-save">Create New</a>
  <ul class="validation-list" ng-hide="validations.length==0">
    <li ng-repeat="validation in validations">
      <a ui-sref=".detail({Id:'{{validation._id}}'})">{{validation.title}}</a>
      <div class="delete" ng-click="delete(validation._id)">Delete</div>
    </li>
  </ul>
  <ng-include ng-show="{{validations.length==0}}" src="'/views/noresults.html'"></ng-include>
</div>
