include ../header.jade
div.page-header
  div.container
    h1 Partners
div.content
  div.container
    div.clear-selections Clear Filters
    div.filters
      div.filter(data-field="partner_technology" data-title="Technology Type" data-object="session-listbox")
    div.list
      div.table(data-id="apHazw" data-object="table" data-hyperlink="cert_title")
script(src="/bower_components/handlebars/handlebars.js")    
script(src="/qsocks/qsocks.bundle.js")
script(src="/js/sense-functions.js")
include ../footer.jade
