include ../header.jade
div.page-header
  div.container
    h1(data-object="text" data-field="Title") 
div.content
  div.container  
    h1 DESCRIPTION
    p(data-object="text" data-field="Details")
    div.detail
      div.table(data-id="gJbU" data-object="table")
script(src='/bower_components/handlebars/handlebars.js')    
script(src='/qsocks/qsocks.bundle.js')
script(src='/js/sense-functions.js')
include ../footer.jade
