include ../header.jade
div.page-header
  div.container
    h1(data-object="text" data-field="cert_title") 
div.summary
  div.container
    div.col
      label Technology Partner: 
      span(data-object="text" data-field="partner_partnername")
      br
      label Connectivity Method: 
      span(data-object="text" data-field="cert_connect_method")
      br
      label Host OS: 
      span(data-object="text" data-field="cert_host_os")
      br
      label Host HW: 
      span(data-object="text" data-field="cert_host_hw")
      br
      label Host Physical/VM: 
      span(data-object="text" data-field="cert_host_physVm")
      br
      label Host in Cloud?: 
      span(data-object="text" data-field="cert_host_cloudFg")
      br
      label Partner Software: 
      span(data-object="text" data-field="cert_partnersw")
      br
      label Partner SW Version: 
      span(data-object="text" data-field="cert_partnerver")      
    div.col
      label Dataset Used: 
      span(data-object="text" data-field="cert_dataset_used")
      br
      label Datamodel Info: 
      span(data-object="text" data-field="cert_datamodel_desc")
      br
      label Data Density: 
      span(data-object="text" data-field="cert_data_density")
      br
      label Data Size Rows: 
      span(data-object="text" data-field="cert_datavolume_rows")
      br
      label Data Size Columns: 
      span(data-object="text" data-field="cert_datacolume_cols")
      br
      label Qlik Software: 
      span(data-object="text" data-field="cert_qliksw")
      br
      label Qlik Version: 
      span(data-object="text" data-field="cert_qlikver")
      br
      label Benchmarks: 
      span(data-object="text" data-field="cert_benchmarks")      
div.content
  div.container  
    h1 DESCRIPTION
    p(data-object="text" data-field="cert_contents")
    div.detail
      div.table.detail(data-id="jTCUmm" data-object="table")
script(src='/bower_components/handlebars/handlebars.js')    
script(src='/qsocks/qsocks.bundle.js')
script(src='/js/sense-functions.js')
include ../footer.jade
