include ../header.jade
div.page-header
  div.container
    h1 Certifications
div.content
  div.container
    div.filters
      div.filter(data-id="eKgsP" data-object="listbox")
      div.filter(data-id="RNXPMHn" data-object="listbox")
      div.filter(data-id="ARfz" data-object="listbox")
    div.list
      div.table(data-id="gJbU" data-object="table")
script(src='/bower_components/handlebars/handlebars.js')    
script(src='/qsocks/qsocks.bundle.js')
script(src='/js/sense-functions.js')
include ../footer.jade
