include ../header.jade
div.page-header
  div.container
    h1 Certifications
div.content
  div.container
    div.clear-selections Clear Filters
    div.filters
      div.filter(data-field="cert_qliksw" data-title="Qlik Software" data-object="session-listbox")
      div.filter(data-field="cert_partnersw" data-title="Partner Software" data-object="session-listbox")
      div.filter(data-field="DateGroup" data-title="Period" data-object="session-listbox")
    div.list
      div.table(data-id="cffafb3a-4944-46eb-8dda-a1241455f33e" data-object="table" data-hyperlink="cert_title")
script(src='/bower_components/handlebars/handlebars.js')    
script(src='/qsocks/qsocks.bundle.js')
script(src='/js/sense-functions.js')
include ../footer.jade
