include ../header.jade
div.page-header
  div.container
    h1 Certifications
div.content
  div.container
    div.clear-selections Clear Filters
    div.filters
      div.filter(data-field="cert_qliksw" data-title="Qlik Software" data-object="session-listbox")
      div.filter(data-field="cert_partnersw" data-title="Partner Software" data-object="session-listbox")
      div.filter(data-field="cert_technology_type" data-title="Technology Type" data-object="session-listbox")
    div.list
      div.table(data-id="ajhzs" data-object="table")
script(src='/bower_components/handlebars/handlebars.js')    
script(src='/qsocks/qsocks.bundle.js')
script(src='/js/sense-functions.js')
include ../footer.jade
