<div class="col-md-3" style="padding-left:0px;">
  <h2>Technology Type</h2>
  <ul class="tabs roles-list">
    <li ng-class="{active:activeTechType===$index}" ng-repeat="technologytype in technologytypes" ng-click="setTechType($index)">
      <a>{{technologytype.name}}</a>
    </li>
    <li ng-show="permissions.canCreate('technologytypes')" >
      <input class="form-control" placeholder="New Technology Type" ng-model="newtechtype"/>
      <div class="new" ng-click="newTechType(newtechtype)">Add</div>
    </li>
  </ul>
</div>
<div class="col-md-9">
  <h3>Steps</h3>
  <ul>
    <li ng-repeat="step in technologytypes[activeTechType].steps">
      {{step.name}}
    </li>
    <li>
      <input class="form-control" ng-model="newstepcontent"/>
      <button type="button" name="button" class="add" ng-click="newStep(newstepcontent)">Add</button>
    </li>
  </ul>
</div>
