<div class="col-md-3" style="padding-left:0px;">
  <h2>User Roles</h2>
  <ul class="tabs roles-list">
    <li ng-class="{active:activeRole===$index}" ng-repeat="role in roles" ng-click="setRole($index)">
      <a>{{role.name}}</a>
    </li>
    <li ng-show="permissions.canCreate('userroles')" >
      <input class="form-control" ng-model="newrolename" placeholder="New Role"/>
      <div class="new" ng-click="newRole(newrolename)">Add</div>
    </li>
  </ul>
</div>
<div class="col-md-9">
  <div class="permission-summary">
    <label>Name:</label><input class="form-control" ng-change="saveRole()" ng-model="copyRoleName"/>
    <div class="copy" ng-show="permissions.canCreate('userroles')" ng-click="copyRole(copyRoleName)">Copy</div>
    <button ng-click="delete(activeRole)" ng-show="permissions.canDelete('userroles') && copyRoleName!='admin'" class="btn btn-default btn-delete">Delete</button>
  </div>
  <ul class="permissions-list">
    <li class="table-header">
      <label></label>
      <label>All Owners</label>
      <label>Create</label>
      <label>Read</label>
      <label>Update</label>
      <label>Delete</label>
      <label>Report</label>
    </li>
    <li ng-repeat="entity in collections">
      <input class="form-control list-label" ng-disabled="true" ng-model="entity"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].allOwners"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].create"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].read"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].update"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].delete"/>
      <input class="form-control" type="checkbox" ng-change="saveRole()" ng-model="roles[activeRole].permissions[entity].report"/>
    </li>
  </ul>
</div>
