.validation-list,.validation-step-list {
  padding: 10px 5px;
  li{
    height: 30px;
    line-height: 30px;
    background-color: white;
    text-indent: 10px;
    &:nth-child(odd){
      background-color: @table-odd-background;
    }
    .delete{
      float: right;
      color: @green;
      margin-right: 10px;
    }
  }
}

.validation-step-list{
  li{
    height: 45px;
    line-height: 45px;
    label, input, select{
      width: 22% !important;
    }
    select{
      display: inline-block;
    }
    input.form-control{
      height: 34px !important;
      line-height: 34px !important;
    }
  }
}
