.validation-list,.validation-step-list, .step-issue-list, .user-list {
  padding: 10px 5px;
  li{
    height: 30px;
    line-height: 30px;
    background-color: white;
    text-indent: 10px;
    &:nth-child(odd){
      background-color: @table-odd-background;
    }
    .delete{
      float: right;
      color: @red;
      margin-right: 10px;
    }
    .new{
      float: right;
      color: @green;
      margin-right: 10px;
    }
  }
}

.validation-step-list, .step-issue-list, .user-list{
  li{
    height: 45px;
    line-height: 45px;
    a.link{
      display: inline-block;
    }
    label, input, select, a.link{
      width: 20% !important;
    }
    label, input{
      &.description{
        width: 25% !important;
      }
    }
    label{
      &:last-of-type{
        width: 5% !important;
      }
    }
    select{
      display: inline-block;
    }
    input.form-control, select.form-control{
      height: 34px !important;
      line-height: 34px !important;
    }
  }
}
